<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
          <key>RunAtLoad</key>
          <true/>
          <key>Label</key>
          <string>net.araxia.mount.personal</string>
          <key>ProgramArguments</key>
          <array>
                    <string>hdiutil</string>
                    <string>attach</string>
                    <string>-mountpoint</string>
                    <string>/Volumes/seth</string>
                    <string>/Users/sethmilliken/personal.sparseimage</string>
          </array>
</dict>
</plist>
