<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>linkhack v0.1</string>
	<key>CFBundleIdentifier</key>
	<string>com.adiumx.linkhack.scripts</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>0.1</string>
	<key>CFBundleName</key>
	<string>linkhack</string>
	<key>CFBundlePackageType</key>
	<string>AdIM</string>
	<key>Scripts</key>
	<array>
		<dict>
			<key>File</key>
			<string>link</string>
			<key>Keyword</key>
			<string>/link</string>
			<key>Title</key>
			<string>Open Last Mentioned Link</string>
		</dict>
	</array>
	<key>Set</key>
	<string>linkhack</string>
</dict>
</plist>
